@model WebSmartSchedule.Pages.Lessons.IndexModel
<div class="schedule-desktop">
    <div class="schedule-scroll-container">
        <div class="schedule-row" id="schedule-desktop"></div>
    </div>
</div>

<div class="schedule-mobile">
    <div class="schedule-scroll-mobile">
        <div class="schedule-container" id="schedule-mobile"></div>
    </div>
</div>